* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Inter', sans-serif;
    background: -webkit-linear-gradient(270deg, #24243e, #302b63, #0f0c29);
    background: linear-gradient(-76.8deg, rgb(121, 45, 129) 3.6%, rgb(36, 31, 98) 90.4%);
    color: #ffffff;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile {
    position: absolute;
    top: 1%;
    left: 0.5%;
    width: 56px;
    height: 56px;
    border-radius: 100px;
    display: none;
}

.nav-brand {
    display: none;
}

.navbar {
    position: fixed;
    background: rgba(51, 38, 72, 0.865);
    padding: 8px 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    z-index: 1000;
    display: flex;
    height: 7vh;
    align-items: center;
    gap: 20px;
    width: 100%;
    transition: background 0.3s;
    animation: navreveal 1s;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 5px;
}

.nav-links li {
    position: relative;
    cursor: pointer;
}

.diff {
    width: 118px;
    margin-right: -20px;
    margin-left: -10px;
}

.nav-links a {
    color: #c6c6ff;
    text-decoration: none;
    font-size: 1rem;
    padding: 8px 15px;
    font-weight: 500;
    transition: color 0.2s, background 0.2s, transform 0.2s;
    border-radius: 20px;
}

#joinserver {
    width: 90vw;
    height: 17vh;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding-top: 4%;
    border-radius: 8px;
    text-align: center;
    display: none;
    z-index: 100;
    font-size: 1.4rem;
    position: absolute;
    top: 32%;
    left: 5%;
}

.shake {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(10px);
    }

    75% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}

.confirm-btn {
    width: 27vw;
    padding: 9px;
    margin: 0px 10px;
    border: none;
    font-size: 0.9rem;
    margin-top: 20px;
    border-radius: 10px;
    text-decoration: none;
    background: linear-gradient(135deg, #303bb5, #792cc1, #9828c1);
    color: white;
    font-weight: 500;
    text-align: center;
    position: relative;
    box-shadow: 2px 2px 7px rgba(183, 63, 235, 0.679);
    transition: all 0.3s ease-in-out;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: absolute;
    top: 10%;
    left: 5.6%;
    max-height: 40vh;
}

.main h1 {
    font-size: 3.4rem;
    background: linear-gradient(101.8deg, rgba(28, 28, 224, 0.926) -0.2%, rgb(153, 68, 230, 0.926) 55.2%, rgb(235, 18, 180, 0.926) 84.4%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: fadein 4s;
}

.main p {
    font-size: 0.78rem;
    animation: fadein 4s;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.text {
    position: relative;
}

.buttons {
    margin-top: 5%;
    margin-right: 6%;
}

.btn1 {
    padding: 14px;
    margin: 0 7px;
    border: none;
    font-size: 1.1rem;
    border-radius: 30px;
    text-decoration: none;
    background: linear-gradient(135deg, #323771, #3c2c77, #2a166e);
    color: white;
    font-weight: 500;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 7px rgba(158, 174, 255, 0.679);
    transition: all 0.3s ease-in-out;
    animation: reveal1 2s;
}

@keyframes reveal1 {
    0% {
        opacity: 0.7;
        transform: translate(-100%);
    }

    100% {
        opacity: 1;
        transform: translate(0%);
    }
}

.btn2 {
    padding: 14px;
    margin: 0 7px;
    border: none;
    font-size: 1.1rem;
    border-radius: 30px;
    text-decoration: none;
    background: linear-gradient(135deg, #323771, #3c2c77, #2a166e);
    color: white;
    font-weight: 500;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 7px rgba(158, 174, 255, 0.679);
    transition: all 0.3s ease-in-out;
    animation: reveal2 2s;
}

@keyframes reveal2 {
    0% {
        opacity: 0.7;
        transform: translate(560%);
    }

    100% {
        opacity: 1;
        transform: translate(0%);
    }
}

.btn1:hover {
    background: #1a0f3f;
}

.btn2:hover {
    background: #1a0f3f;
}

.game {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 300px;
    height: 300px;
    transform: rotate(20deg);
    animation: gamereveal 2s;
    opacity: 0.1;
}

@keyframes gamereveal {
    0% {
        scale: 0;
        transform: rotate(180deg);
    }

    100% {
        scale: 1;
        transform: rotate(20deg);
    }
}

.game1 {
    position: absolute;
    top: 30%;
    left: -10%;
    width: 300px;
    height: 300px;
    transform: rotate(-20deg);
    animation: gamereveal1 2s;
    opacity: 0.1;
}

@keyframes gamereveal1 {
    0% {
        scale: 0;
        transform: rotate(-180deg);
    }

    100% {
        scale: 1;
        transform: rotate(-20deg);
    }
}

header {
    background-color: #1e1e2f;
    color: white;
    padding: 20px;
    font-size: x-large;
    text-align: center;
    margin-top: 65px;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    width: 800px;
    margin: auto;
}

.accordion {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -44%);
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80vw;
    font-size: larger;
}

.accordion-item {
    border-bottom: 1px solid #ccc;
}

.accordion-header {
    background: #5e338b;
    color: #ffffff;
    cursor: pointer;
    padding: 15px;
    text-align: left;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.7rem;
    font-weight: bold;
    transition: background 0.3s ease;
}

.accordion-header:hover {
    background: #7447a0;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 15px;
    font-size: 0.97rem;
}

.accordion-content p,
.accordion-content ul {
    margin: 10px 0;
}

.accordion-content ul {
    padding-left: 20px;
    list-style-type: disc;
}

.commands {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 10%;
    left: 17%;
    gap: 2vh;
    width: 90vw;
    height: 70vh;
    text-align: center;
}

.first,
.second,
.third,
.fourth,
.fifth {
    position: relative;
    width: 65vw;
    height: 100%;
    perspective: 1000px;
}

.inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.first:hover .inner {
    transform: rotateY(180deg);
}

.second:hover .inner {
    transform: rotateY(180deg);
}

.third:hover .inner {
    transform: rotateY(180deg);
}

.fourth:hover .inner {
    transform: rotateY(180deg);
}

.fifth:hover .inner {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 17px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
    background-color: rgba(255, 255, 255, 0.076);
    box-shadow: 0 8px 32px 0 rgba(96, 28, 185, 0.812);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-size: 1.1rem;
    padding-top: 8%;
}

.back {
    background: rgba(255, 255, 255, 0.148);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
    transform: rotateY(180deg);
    padding: 9px;
    font-size: 0.56rem;
}

.footer {
    background: #1e1e2f;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.terms,
.privacy {
    width: 90vw;
}

/* Tablet */
@media screen and (min-width:600px) {
    .navbar {
        width: 100vw;
    }

    .nav-links {
        margin-left: 150px;
        gap: 30px;
    }

    .diff {
        width: 140px;
    }

    .nav-links a {
        font-size: 1.2rem;
    }

    .main h1 {
        font-size: 4.4rem;
    }

    .main p {
        font-size: 1.4rem;
    }

    .game {
        left: 43%;
    }

    .game1 {
        left: 17%;
    }

    .front {
        padding-top: 5%;
        font-size: 1.4rem;
    }

    .back {
        font-size: 0.8rem;
    }

    .accordion-header {
        font-size: 2rem;
    }

    .accordion-content {
        font-size: 1rem;
    }
}

/* Desktop and PC */
@media screen and (min-width:1200px) and (max-width:1505px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Inter', sans-serif;
        background: -webkit-linear-gradient(270deg, #24243e, #302b63, #0f0c29);
        background: linear-gradient(-76.8deg, rgb(121, 45, 129) 3.6%, rgb(36, 31, 98) 90.4%);
        color: #ffffff;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overflow-x: hidden;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .profile {
        position: absolute;
        top: 1%;
        left: 0.5%;
        width: 56px;
        height: 56px;
        border-radius: 100px;
        display: flex;
    }

    .header-brand {
        padding: 20px;
        text-align: center;
    }

    .header {
        position: relative;
        z-index: 10;
    }

    .navbar {
        position: fixed;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        background: rgba(51, 38, 72, 0.865);
        padding: 8px 20px;
        border-radius: 25px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        z-index: 1000;
        display: flex;
        align-items: center;
        gap: 20px auto;
        width: 46%;
        transition: background 0.3s;
        animation: navreveal 1s;
    }

    @keyframes navreveal {
        0% {
            transform: translate(-50%, -120%);
        }

        100% {
            transform: translate(-50%, 0%);
        }
    }

    .navbar:hover {
        background: rgba(58, 43, 99, 0.9);
    }

    .nav-brand {
        font-size: 1.5em;
        color: #ffffff;
        font-weight: bold;
        cursor: pointer;
        display: flex;
    }

    .nav-links {
        list-style: none;
        display: flex;
        gap: 14px;
        margin-left: 0;
    }

    .nav-links li {
        position: relative;
        cursor: pointer;
    }

    .diff {
        width: 118px;
        margin-right: -3px;
        margin-left: -10px;
    }

    .nav-links a {
        color: #c6c6ff;
        text-decoration: none;
        font-size: 1em;
        padding: 8px 15px;
        font-weight: 500;
        transition: color 0.2s, background 0.2s, transform 0.2s;
        border-radius: 20px;
    }

    .nav-links a:hover {
        color: #ff9e9e;
        background: rgba(255, 158, 158, 0.2);
        transform: translateY(-3px);
    }

    .nav-links a::after {
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        background-color: #f3748f;
        left: 50%;
        bottom: -6px;
        transform: translateX(-50%);
        transition: width 0.3s ease;
    }

    .nav-links a:hover::after {
        width: 70%;
    }

    .nav-links a.active {
        color: #ff9e9e;
    }

    .nav-links a.active::after {
        width: 70%;
    }

    #joinserver {
        width: 30vw;
        height: 30vh;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        padding-top: 4%;
        border-radius: 8px;
        text-align: center;
        display: none;
        z-index: 100;
        font-size: 1.4rem;
        position: absolute;
        top: 32%;
        left: 34%;
    }

    .shake {
        animation: shake 0.5s ease-in-out;
    }

    @keyframes shake {
        0% {
            transform: translateX(0);
        }

        25% {
            transform: translateX(-10px);
        }

        50% {
            transform: translateX(10px);
        }

        75% {
            transform: translateX(-10px);
        }

        100% {
            transform: translateX(0);
        }
    }

    .confirm-btn {
        width: 4vw;
        padding: 9px;
        margin: 0px 10px;
        border: none;
        font-size: 0.9rem;
        margin-top: 20px;
        border-radius: 10px;
        text-decoration: none;
        background: linear-gradient(135deg, #303bb5, #792cc1, #9828c1);
        color: white;
        font-weight: 500;
        text-align: center;
        position: relative;
        box-shadow: 2px 2px 7px rgba(183, 63, 235, 0.679);
        transition: all 0.3s ease-in-out;
    }

    .main {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 20px;
        position: absolute;
        top: 3%;
        left: 7%;
    }

    .main h1 {
        font-size: 3.7rem;
        animation: fadein 4s;
    }

    .main p {
        font-size: 0.97rem;
        animation: fadein 4s;
    }

    @keyframes fadein {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .text {
        width: 49vw;
        position: relative;
        padding: 50px;
        margin-left: 7%;
    }

    .buttons {
        margin-top: 5%;
        margin-right: 6%;
    }

    .btn1 {
        padding: 14px;
        margin: 0 7px;
        border: none;
        font-size: 1.1rem;
        border-radius: 30px;
        text-decoration: none;
        background: linear-gradient(135deg, #323771, #3c2c77, #2a166e);
        color: white;
        font-weight: 500;
        text-align: center;
        position: relative;
        overflow: hidden;
        box-shadow: 2px 2px 7px rgba(158, 174, 255, 0.679);
        transition: all 0.3s ease-in-out;
        animation: reveal1 2s;
    }

    @keyframes reveal1 {
        0% {
            opacity: 0.7;
            transform: translate(-100%);
        }

        100% {
            opacity: 1;
            transform: translate(0%);
        }
    }

    .btn2 {
        padding: 14px;
        margin: 0 7px;
        border: none;
        font-size: 1.1rem;
        border-radius: 30px;
        text-decoration: none;
        background: linear-gradient(135deg, #323771, #3c2c77, #2a166e);
        color: white;
        font-weight: 500;
        text-align: center;
        position: relative;
        overflow: hidden;
        box-shadow: 2px 2px 7px rgba(158, 174, 255, 0.679);
        transition: all 0.3s ease-in-out;
        animation: reveal2 2s;
    }

    @keyframes reveal2 {
        0% {
            opacity: 0.7;
            transform: translate(560%);
        }

        100% {
            opacity: 1;
            transform: translate(0%);
        }
    }

    .btn1:hover {
        background: #1a0f3f;
    }

    .btn2:hover {
        background: #1a0f3f;
    }

    .game {
        position: absolute;
        top: 30%;
        left: 77%;
        width: 300px;
        height: 300px;
        transform: rotate(20deg);
        animation: gamereveal 2s;
        opacity: 0.7;
    }

    @keyframes gamereveal {
        0% {
            scale: 0;
            transform: rotate(180deg);
        }

        100% {
            scale: 1;
            transform: rotate(20deg);
        }
    }

    .game1 {
        position: absolute;
        top: 30%;
        left: 62%;
        width: 300px;
        height: 300px;
        transform: rotate(-20deg);
        animation: gamereveal1 2s;
        opacity: 0.7;
    }

    @keyframes gamereveal1 {
        0% {
            scale: 0;
            transform: rotate(-180deg);
        }

        100% {
            scale: 1;
            transform: rotate(-20deg);
        }
    }

    header {
        background-color: #1e1e2f;
        color: white;
        padding: 20px;
        font-size: x-large;
        text-align: center;
        margin-top: 40px;
    }

    h1 {
        margin: 0;
    }

    main {
        padding: 20px;
        width: 800px;
        margin: auto;
    }

    .accordion {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -44%);
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 65vw;
        font-size: larger;
    }

    .accordion-item {
        border-bottom: 1px solid #ccc;
    }

    .accordion-header {
        background: #5e338b;
        color: #ffffff;
        cursor: pointer;
        padding: 15px;
        text-align: left;
        border: none;
        outline: none;
        width: 100%;
        font-size: 2.1rem;
        font-weight: bold;
        transition: background 0.3s ease;
    }

    .accordion-header:hover {
        background: #7447a0;
    }

    .accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        padding: 0 15px;
        font-size: 1.1rem;
    }

    .accordion-content p,
    .accordion-content ul {
        margin: 10px 0;
    }

    .accordion-content ul {
        padding-left: 20px;
        list-style-type: disc;
    }

    .commands {
        position: absolute;
        display: flex;
        flex-direction: row;
        gap: 3vw;
        margin: 0px 7px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;
        height: 56vh;
        text-align: center;
    }

    .first,
    .second,
    .third,
    .fourth,
    .fifth {
        position: relative;
        height: 100%;
        perspective: 1000px;
    }

    .third .front,
    .fourth .front {
        font-size: 1.1rem;
    }

    .fifth .front {
        font-size: 0.9rem;
    }

    .inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    .first:hover .inner {
        transform: rotateY(180deg);
    }

    .second:hover .inner {
        transform: rotateY(180deg);
    }

    .third:hover .inner {
        transform: rotateY(180deg);
    }

    .fourth:hover .inner {
        transform: rotateY(180deg);
    }

    .fifth:hover .inner {
        transform: rotateY(180deg);
    }

    .front,
    .back {
        position: absolute;
        width: 15vw;
        height: 87%;
    }

    .front {
        background-color: rgba(255, 255, 255, 0.076);
        box-shadow: 0 8px 32px 0 rgba(96, 28, 185, 0.812);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        font-size: 1.4rem;
        padding-top: 50%;
    }

    .back {
        background: rgba(255, 255, 255, 0.148);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        color: white;
        transform: rotateY(180deg);
        padding: 20px;
        font-size: 0.9rem;
    }

    .footer {
        background: #1e1e2f;
        padding: 20px;
        text-align: center;
        margin-top: auto;
    }

    .footer a {
        color: #ffffff;
        text-decoration: none;
        margin: 0 10px;
    }

    .footer a:hover {
        text-decoration: underline;
    }

    .terms,
    .privacy {
        width: 50vw;
    }
}

@media screen and (min-width:1506px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Inter', sans-serif;
        background: -webkit-linear-gradient(270deg, #24243e, #302b63, #0f0c29);
        background: linear-gradient(-76.8deg, rgb(121, 45, 129) 3.6%, rgb(36, 31, 98) 90.4%);
        color: #ffffff;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overflow-x: hidden;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .profile {
        position: absolute;
        top: 1%;
        left: 0.5%;
        width: 56px;
        height: 56px;
        border-radius: 100px;
        display: flex;
    }

    .header-brand {
        padding: 20px;
        text-align: center;
    }

    .header {
        position: relative;
        z-index: 10;
    }

    .navbar {
        position: fixed;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        background: rgba(51, 38, 72, 0.865);
        padding: 8px 20px;
        border-radius: 25px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        z-index: 1000;
        display: flex;
        align-items: center;
        gap: 20px;
        width: 38%;
        transition: background 0.3s;
        animation: navreveal 1s;
    }

    @keyframes navreveal {
        0% {
            transform: translate(-50%, -120%);
        }

        100% {
            transform: translate(-50%, 0%);
        }
    }

    .navbar:hover {
        background: rgba(58, 43, 99, 0.9);
    }

    .nav-brand {
        font-size: 1.5em;
        color: #ffffff;
        font-weight: bold;
        cursor: pointer;
        display: flex;
    }

    .nav-links {
        list-style: none;
        display: flex;
        gap: 14px;
        margin-left: 0;
    }

    .nav-links li {
        position: relative;
        cursor: pointer;
    }

    .diff {
        width: 118px;
        margin-right: -3px;
        margin-left: -10px;
    }

    .nav-links a {
        color: #c6c6ff;
        text-decoration: none;
        font-size: 1em;
        padding: 8px 15px;
        font-weight: 500;
        transition: color 0.2s, background 0.2s, transform 0.2s;
        border-radius: 20px;
    }

    .nav-links a:hover {
        color: #ff9e9e;
        background: rgba(255, 158, 158, 0.2);
        transform: translateY(-3px);
    }

    .nav-links a::after {
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        background-color: #f3748f;
        left: 50%;
        bottom: -6px;
        transform: translateX(-50%);
        transition: width 0.3s ease;
    }

    .nav-links a:hover::after {
        width: 70%;
    }

    .nav-links a.active {
        color: #ff9e9e;
    }

    .nav-links a.active::after {
        width: 70%;
    }

    #joinserver {
        width: 30vw;
        height: 30vh;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        padding-top: 4%;
        border-radius: 8px;
        text-align: center;
        display: none;
        z-index: 100;
        font-size: 1.4rem;
        position: absolute;
        top: 32%;
        left: 34%;
    }

    .shake {
        animation: shake 0.5s ease-in-out;
    }

    @keyframes shake {
        0% {
            transform: translateX(0);
        }

        25% {
            transform: translateX(-10px);
        }

        50% {
            transform: translateX(10px);
        }

        75% {
            transform: translateX(-10px);
        }

        100% {
            transform: translateX(0);
        }
    }

    .confirm-btn {
        width: 4vw;
        padding: 9px;
        margin: 0px 10px;
        border: none;
        font-size: 0.9rem;
        margin-top: 20px;
        border-radius: 10px;
        text-decoration: none;
        background: linear-gradient(135deg, #303bb5, #792cc1, #9828c1);
        color: white;
        font-weight: 500;
        text-align: center;
        position: relative;
        box-shadow: 2px 2px 7px rgba(183, 63, 235, 0.679);
        transition: all 0.3s ease-in-out;
    }

    .main {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 20px;
        position: absolute;
        top: 3%;
        left: 7%;
    }

    .main h1 {
        font-size: 4.2rem;
        animation: fadein 4s;
    }

    .main p {
        font-size: 1.1rem;
        animation: fadein 4s;
    }

    @keyframes fadein {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .text {
        width: 49vw;
        position: relative;
        padding: 50px;
        margin-left: 7%;
    }

    .buttons {
        margin-top: 5%;
        margin-right: 6%;
    }

    .btn1 {
        padding: 14px;
        margin: 0 7px;
        border: none;
        font-size: 1.1rem;
        border-radius: 30px;
        text-decoration: none;
        background: linear-gradient(135deg, #323771, #3c2c77, #2a166e);
        color: white;
        font-weight: 500;
        text-align: center;
        position: relative;
        overflow: hidden;
        box-shadow: 2px 2px 7px rgba(158, 174, 255, 0.679);
        transition: all 0.3s ease-in-out;
        animation: reveal1 2s;
    }

    @keyframes reveal1 {
        0% {
            opacity: 0.7;
            transform: translate(-100%);
        }

        100% {
            opacity: 1;
            transform: translate(0%);
        }
    }

    .btn2 {
        padding: 14px;
        margin: 0 7px;
        border: none;
        font-size: 1.1rem;
        border-radius: 30px;
        text-decoration: none;
        background: linear-gradient(135deg, #323771, #3c2c77, #2a166e);
        color: white;
        font-weight: 500;
        text-align: center;
        position: relative;
        overflow: hidden;
        box-shadow: 2px 2px 7px rgba(158, 174, 255, 0.679);
        transition: all 0.3s ease-in-out;
        animation: reveal2 2s;
    }

    @keyframes reveal2 {
        0% {
            opacity: 0.7;
            transform: translate(560%);
        }

        100% {
            opacity: 1;
            transform: translate(0%);
        }
    }

    .btn1:hover {
        background: #1a0f3f;
    }

    .btn2:hover {
        background: #1a0f3f;
    }

    .game {
        position: absolute;
        top: 30%;
        left: 77%;
        width: 300px;
        height: 300px;
        transform: rotate(20deg);
        animation: gamereveal 2s;
        opacity: 0.7;
    }

    @keyframes gamereveal {
        0% {
            scale: 0;
            transform: rotate(180deg);
        }

        100% {
            scale: 1;
            transform: rotate(20deg);
        }
    }

    .game1 {
        position: absolute;
        top: 30%;
        left: 62%;
        width: 300px;
        height: 300px;
        transform: rotate(-20deg);
        animation: gamereveal1 2s;
        opacity: 0.7;
    }

    @keyframes gamereveal1 {
        0% {
            scale: 0;
            transform: rotate(-180deg);
        }

        100% {
            scale: 1;
            transform: rotate(-20deg);
        }
    }

    header {
        background-color: #1e1e2f;
        color: white;
        padding: 20px;
        font-size: x-large;
        text-align: center;
        margin-top: 40px;
    }

    h1 {
        margin: 0;
    }

    main {
        padding: 20px;
        width: 800px;
        margin: auto;
    }

    .accordion {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -44%);
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 65vw;
        font-size: larger;
    }

    .accordion-item {
        border-bottom: 1px solid #ccc;
    }

    .accordion-header {
        background: #5e338b;
        color: #ffffff;
        cursor: pointer;
        padding: 15px;
        text-align: left;
        border: none;
        outline: none;
        width: 100%;
        font-size: 2.1rem;
        font-weight: bold;
        transition: background 0.3s ease;
    }

    .accordion-header:hover {
        background: #7447a0;
    }

    .accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        padding: 0 15px;
        font-size: 1.1rem;
    }

    .accordion-content p,
    .accordion-content ul {
        margin: 10px 0;
    }

    .accordion-content ul {
        padding-left: 20px;
        list-style-type: disc;
    }

    .commands {
        position: absolute;
        display: flex;
        flex-direction: row;
        gap: 3vw;
        margin: 0px 7px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;
        height: 56vh;
        text-align: center;
    }

    .first,
    .second,
    .third,
    .fourth,
    .fifth {
        position: relative;
        height: 100%;
        perspective: 1000px;
    }

    .third .front,
    .fourth .front {
        font-size: 1.2rem;
    }

    .fifth .front {
        font-size: 1.1rem;
    }

    .inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    .first:hover .inner {
        transform: rotateY(180deg);
    }

    .second:hover .inner {
        transform: rotateY(180deg);
    }

    .third:hover .inner {
        transform: rotateY(180deg);
    }

    .fourth:hover .inner {
        transform: rotateY(180deg);
    }

    .fifth:hover .inner {
        transform: rotateY(180deg);
    }

    .front,
    .back {
        position: absolute;
        width: 15vw;
        height: 92%;
    }

    .front {
        background-color: rgba(255, 255, 255, 0.076);
        box-shadow: 0 8px 32px 0 rgba(96, 28, 185, 0.812);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        font-size: 1.4rem;
        padding-top: 50%;
    }

    .back {
        background: rgba(255, 255, 255, 0.148);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        color: white;
        transform: rotateY(180deg);
        padding: 20px;
        font-size: 1rem;
    }

    .footer {
        background: #1e1e2f;
        padding: 20px;
        text-align: center;
        margin-top: auto;
    }

    .footer a {
        color: #ffffff;
        text-decoration: none;
        margin: 0 10px;
    }

    .footer a:hover {
        text-decoration: underline;
    }

    .terms,
    .privacy {
        width: 50vw;
    }
}